.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #84b2dd;
  font-size: 1.5rem;
  font-weight: 500;
  color: #4e4e4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 40;
}

.Toolbar nav {
  box-sizing: border-box;
  height: 100%;
}
/*desktop styles*/
@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
