.BasicDescription {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
}

.BasicDescription .author,
.BasicDescription .title {
  transition: transform .25s ease-out;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(18, 18, 18, 0.73);
  color: #fff;
}

@media (min-width: 500px) {

  .BasicDescription:hover .title,
  .BasicDescription:hover .author {
    transform: translateY(0);
  }

  .BasicDescription .title {
    transform: translateY(-200%);
  }

  .BasicDescription .author {
    transform: translateY(200%);
  }
}
