.Book {
  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 200px;
}
.Book h2 {
  font-size: 1rem;
  margin: 0 0 10px;
}
.Book img {
  width: 100%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.45);
  height: 100%;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

@media (min-width: 500px) {
  .Book {
    max-width: 250px;
  }
}
